<div class="mb-3 row">
    <label for="categoria" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
        <input type="text" class="form-control-plaintext fw-bold" name="nombre" id="categoria">
    </div>
</div>
