<div class="mb-3 row">
    <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
        <input type="text" id="validationDefault01" class="form-control fw-bold" id="nombre" name="nombre" required>
    </div>
</div>
<div class="mb-3 row">
    <label for="user" class="col-sm-2 col-form-label">Usuario</label>
    <div class="col-sm-10">
        <input type="text" id="validationDefault02" class="form-control fw-bold" id="user" name="user" required>
    </div>
</div>
<div class="mb-3 row">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
        <input type="password" id="validationDefault03" class="form-control fw-bold" id="password" name="password"
            required>
    </div>
</div>
<div class="mb-3 row">
    <label for="nivel" class="col-sm-2 col-form-label">Nivel</label>
    <div class="col-sm-10">
        <select class="form-select fw-bold" id="validationDefault04" name="nivel" aria-label="Default select example"
            required>
            <option value="Deshabilitado">Deshabilidato</option>
            <option value="Administrador">Administrador</option>
            <option value="Usuario">Usuario</option>
        </select>
    </div>
</div>

<script>
    (function () {
        'use strict'
        var forms = document.querySelectorAll('.needs-validation')
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>