<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Categoria</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Ampliar</th>
            </tr>
        </thead>
        {{#each producto}}
        <tbody>
            <tr class="text-center fw-bold">
                <td>{{categoria}}</td>
                <td>{{nombre}}</td>
                <td>{{precio}}</td>
                <td>
                    <div class="btn-group btn-group-sm me-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#editarProducto">Editar</button>
                    </div>
                </td>
            </tr>
        </tbody>
        {{/each}}
    </table>

    <!-- Modal -->
    <div class="modal fade" id="editarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Producto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{>editarProducto}}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Borrar</button>
                    <button type="submit" form="editForm" class="btn btn-success">Editar</button>
                </div>
            </div>
        </div>
    </div>
</main>