<table id="tabla" class="table " style="width:100%">
    <thead>
        <tr class="text-center fw-bold text-primary">
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each allCategory}}
        <tr class="text-center fw-bold">
            <td>{{id}}</td>
            <td>{{nombre}}</td>
            <td>
                <div class="btn-toolbar d-fle justify-content-center" role="toolbar"
                    aria-label="Toolbar with button groups">
                    <div class="btn-group btn-group-sm me-2" role="group" aria-label="First group">
                        <form action="categoria/delete/{{id}}" method="POST">
                            <button type="submit" class="btn" data-bs-toggle="modal"><i
                                    class="bi bi-trash icono__papelera"></i></button>
                        </form>
                    </div>
                    <div class="btn-group btn-group-sm me-2" role="group" aria-label="First group">
                        <form action="categoria/single/{{id}}">
                            <button type="submit" class="btn" data-bs-toggle="modal"
                                data-bs-target="#editarCategoria"><i
                                    class="bi bi-check2-all icono__editar"></i></button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>