<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="rows">
    <div class="container d-flex justify-content-around mt-2 mb-2">
      <h3 class="titulo">Listado de Proveedores</h3>
      <div class="btn-group btn-group-sm me-2" role="group" aria-label="Second group">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#altaProveedor"><i
            class="bi bi-plus-circle icono__verde"> Nuevo Proveedor</i></button>
      </div>
    </div>
  </div>
  {{>tablaProveedores}}
</main>

<!-- Modal -->
<div class="modal fade" id="altaProveedor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header fw-bold bg-light">
        <h5 class="modal-title titulo" id="exampleModalLabel">ALTA DE PROVEEDOR</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="proveedor/create" method="post" id="crearProveedor">
          {{>altaProveedor}}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Salir</button>
        <button form="crearProveedor" type="submit" class="btn btn-success">Crear</button>
      </div>
    </div>
  </div>
</div>