<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <h2 class="text-center">Iniciar Presupuesto</h2>
    <div class="rows">
        <div class="container d-flex justify-content-around mt-2 mb-2">
            <h3 class="text-center mt-2">Seleccione el Cliente</h3>
        </div>
    </div>
    {{>tablaClientePresupuesto}}
</main>
