<head>
    <script> function downloadInvoice() {
            var data = getSampleData();
            easyinvoice.createInvoice(data, function (result) {
                easyinvoice.download('myInvoice.pdf', result.pdf);
                //	you can download like this as well:
                //	easyinvoice.download();
                //	easyinvoice.download('myInvoice.pdf');
            });
        }</script>
    <script>
        function getSampleData() {

            return `${{ data }}`
        }
    </script>
    <script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>
    <script src="https://unpkg.com/pdfjs-dist/build/pdf.min.js"></script>
    <script src="https://unpkg.com/pdfjs-dist/build/pdf.worker.min.js"></script>
</head>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div id="pdf">
        <h2>{{data}}</h2>
        <button onclick="createInvoice()">Create Invoice</button>
        <button onclick="downloadInvoice()">Download Invoice</button>
        <button onclick="renderInvoice()">Render Invoice</button>
        <p>Invoice as base64 (click create invoice):
            <small id="invoiceBase64"></small>
        </p>
    </div>
</main>