<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="rows">
        <div class="container d-flex justify-content-around mt-2 mb-2">
            <h3 class="text-center mt-2 titulo">Presupuesto - Total : <span class="text-center text-success">$
                    {{total}}</span> </h3>
            <button type="submit" class="btn" form="viewPDF"><i
                    class="bi bi-file-earmark-pdf-fill icono__pdf"></i>PDF</button>
        </div>
        {{>tablaPresupuestoPDF}}
    </div>
    <hr>
    <div class="rows">
        {{>tablaProductoPresupuesto}}
    </div>
</main>